.contracts{
    display: flex;
    flex: 4;
    background-color: rgba(233, 228, 220, 0.562);
    flex-wrap: wrap;
    padding: 20px;
}

.contractWrapper{
    margin: 10px;
    background-color: white;
    height: 35%;
    padding: 10px 20px;
    border-radius: 10px;
}

.Image{
    margin-left: 10px;
    margin-top: 10px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.company{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn{
    margin: 8px 0;
}